@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500;700&display=swap');

/* Start General styles */
:root {
    --color-primario: #EC426F;
    --color-secundario: #FADB5F;
    --fondo-claro: #ffffff;
    --texto-oscuro: #000000;
    --H1-XL: 140px;
    --H1-L: 110px;
    --H1-M: 90px;
    --H1-S: 70px;
    --H1-XS: 50px;
}

/* Mixins */

@mixin flexible ( $dis , $just ) {
    display: $dis;
    justify-content: $just;
}
    
* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: var(--H1-XL);
    font-weight: 700;
    color: var(--texto-oscuro);
}

h2 {
    font-size: var(--H1-XS);
    font-weight: 700;
    color: var(--texto-oscuro);
}

h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--texto-oscuro);
}

p {
    font-size: 16px;
}

/* End General Styles */
/*  Start Nav */

.logo img {
    height:100px;
    margin: 30px 0 0 38px;
    &:hover {
        scale: 1.03;
    }
}

.navbar-toggler {
    border: 0;
}

header {
    margin: 0 auto;
}

span .fa-solid {
    color: var(--color-primario);
    font-size: 30px;
    margin-right: 30px;
    margin-top: 35px;
}

.barra {
    padding: 20px 40px;
    font-family: Helvetica, sans-serif;
    font-weight: 550;
    font-size: 20px;
    overflow: hidden;

    a {
        position: relative;
        text-decoration: none;
        color: #000000 ;
    
        ::before {
            position: absolute;
            content: "";
            height: 4px;
            width: 0%;
            background-color: var(--color-primario);
            bottom: -7px;
            transition: ease-out 0.5s;
        }
        
        :hover::before {
            position: absolute;
            content: "";
            height: 4px;
            width: 100%;
            background-color: var(--color-primario);
            bottom: -7px;
        }
    }

    li {
        list-style: none;
        display: inline-block;
        margin: 10px 20px 0 0;
    }
    
}

a.active {
    color: var(--color-primario);
}


ul:hover a:not(:hover) {
    opacity: 0.8;
    filter: blur(2px);
}

/* End Nav */

/*  Start Main Content  */

main {
    @include flexible( flex , center );
    flex-direction: column;
    width: 100vw;
    min-height: calc(100vh - 300px);
    align-items: center;
    overflow: hidden;

    section {
        @include flexible( flex, space-between );
        flex-wrap: wrap;
        flex-direction: row;
        height: auto;
        align-items: center;
        padding: 0 20px;
    }

    .secLeft {
        flex-direction: row-reverse;
    }

    .title-skills {
        display: flex;
        justify-content: left;
        

        .skills {
        margin: 90px 0 30px 0;
        }
    } 
    
    .cards {
        display: flex;
        justify-content: space-between;
        gap: 110px;
        margin: 10px 8vw;
        margin-bottom: 80px;

        .card1 {
            box-shadow: 10px 10px 15px 1px #eeeeee;
            max-width: 30rem;
            min-width: 300px;
            padding: 30px;
            border-radius: 30px;

            .audience-img {
                height: 100px;
                width: auto;
                margin-bottom: 30px;
                background-image: url(../img/audience2.svg);
                background-repeat: no-repeat;
                background-position: left;
                transition: ease-in-out;
                transition-duration: 0.5s;
            }
        }

        .card1:hover {
            background-image: linear-gradient(-30deg, var(--color-secundario) 0%, #ffb43a 100%);
            .audience-img {
                background-image: url(../img/audience1.svg);
                background-position: center;
                scale: 1.1;
            }
        }

        .card2 {
            box-shadow: 10px 10px 15px 1px #eeeeee;
            max-width: 30rem;
            min-width: 300px;
            padding: 30px;
            border-radius: 30px;

            .presence-img {
                height: 100px;
                width: auto;
                margin-bottom: 30px;
                background-image: url(../img/presence2.svg);
                background-repeat: no-repeat;
                background-position: left;
                transition: ease-in-out;
                transition-duration: 0.5s;
            }
        }

        .card2:hover {
            background-image: linear-gradient(-30deg, var(--color-secundario) 0%, #ffb43a 100%);
            .presence-img {
                background-image: url(../img/presence1.svg);
                background-position: center;
                scale: 1.1;
            }
        }

        .card3 {
            box-shadow: 10px 10px 15px 1px #eeeeee;
            max-width: 30rem;
            min-width: 300px;
            padding: 30px;
            border-radius: 30px;

            .ideas-img {
                height: 100px;
                width: auto;
                margin-bottom: 30px;
                background-image: url(../img/ideas2.svg);
                background-repeat: no-repeat;
                background-position: left;
                transition: ease-in-out;
                transition-duration: 0.5s;
            }
        }

        .card3:hover {
            background-image: linear-gradient(-30deg, var(--color-secundario) 0%, #ffb43a 100%);
            .ideas-img {
                background-image: url(../img/ideas1.svg);
                background-position: center;
                scale: 1.1;
            }
        }
    
    }

}

.txtRight {
    flex: 1;
    text-align: left;
    margin: 80px;
}

.imgLeft {
    height: 800px;
    width: auto;
    flex: 2;
    @include flexible( flex , center );    
}

.txtLeft {
    flex: 1;
    text-align: left;
    margin: 80px;
}

.imgRight {
    height: 800px;
    width: auto;
    flex: 2;
    @include flexible( flex , center );
}

p.BtnMain {
    margin: 30px 0 0 0;
    background-color: var(--color-primario);
    color: var(--fondo-claro);
    font-weight: 600;
    display: inline-block;
    padding: 17px 30px;
    border-radius: 40px;
}

p.BtnMain:hover {
    background-image: linear-gradient(-30deg, var(--color-primario) 0%, #ff9a44 100%);
}

.portMain {
    @include flexible( flex , center );
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* End Main Content*/

@import "_portfolio";
@import "_contact";
@import "_footer";
@import "_mediaquery";
