@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500;700&display=swap');

/* Start genetal styles */

:root {
    --color-primario: #EC426F;
    --color-secundario: #FADB5F;
    --fondo-claro: #ffffff;
    --texto-oscuro: #000000;
}
    
* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 7vh;
    font-weight: 700;
    color: var(--texto-oscuro);
}

h2 {
    text-align: center;
    background-color: black;
    color: #ffc34a; 
    font-size: 30px;
    padding: 20px;
    padding: 15px;
    text-align: center;
}

p {
    font-size: 16px;
}

/* End General Styles */

.logo img {
    height:100px;
    margin: 20px 0 0 30px;
}

/*  Start Nav */

.barra {
    /* margin: 20px 40px; */
    font-family: Helvetica, sans-serif;
    font-weight: 550;
    font-size: 20px;
    position: relative;
    overflow: hidden;
}

.barra li {
    list-style: none;
    display: inline-block;
    /* quitar en media query movile */
    margin: 10px 0 0 32px;
}

.barra a {
    text-decoration: none;
    color: #000000 ;
}


.barra a:hover {
    color: var(--color-primario);
}

ul:hover li a:not(:hover) {
    color: var(--texto-oscuro); opacity: 0.5;
    filter: blur (1px);
}

/* End Nav */
/* End Header */

/*  Start Body  */

main {
    display: flex;
    justify-content: center;
    height: calc(100vh - 350px);
    width: 100%;
    position: relative;
    z-index: 5;
}

.ContMain {
    height: calc(100vh - 800px);
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: stretch; */
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
}

.txtRight {
    flex: 1;
    text-align: left;
    margin: 80px;
}

.imgLeft {
    height: 60vh;
    width: auto;
    flex: 2;
    display: flex;
    justify-content: center;      
}

.txtLeft {
    flex: 1;
    text-align: left;
    margin: 80px;
}

.imgRight {
    height: 60vh;
    width: auto;
    flex: 2;
    display: flex;
    justify-content: center;      
}

.txtBox {
    min-width: 200px;
}

.BtnMain {
    margin: 30px 0 0 0;
    background-color: var(--color-primario);
    color: var(--fondo-claro);
    font-weight: 600;
    display: inline-block;
    padding: 17px 30px;
    border-radius: 30px ;
}

.BtnMain:hover {
    background-color: var(--color-secundario);
    color: var(--texto-oscuro);
}

.form {
    margin: 90px 190px 90px 0;
    float: right;
}

.portMain {
    display: flex;
    gap: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
}

/* End Body */

/*  Start Footer */

.foot1 li {
    list-style: none;
    display: inline-block;
    margin: 0 20px 0 0;
}

.foot2 {
    font-weight: 600;
    float: left;
    margin: 50px 0 0 50px ;
}

.foot2 li {
    list-style: none;
    display: inline-block;
    margin: 0 20px 0 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-secundario);
    height: 400px;
    width: 100%;
    padding: 50px;
    position: relative;
    z-index: 10;

}

.footPort {   
    position: end;
    z-index: 10;
}

.footLeft {
    font-weight: 500;
}

.footLeft span {
    font-weight: 600;
}

.footIcons i {
    letter-spacing: 15px;
    font-size: 22px;
}

/* End Footer */